<p id="notice"><%= notice %></p>

<p>
  <b>Headers:</b>
  <pre><%= @access.headers %></pre>
</p>

<p>
  <b>Payload:</b>
  <pre><%= @access.payload %></pre>
</p>


<%= link_to 'Edit', edit_access_path(@access) %> |
<%= link_to 'Back', accesses_path %>
